<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<title>yLibrary</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="css/ylibrary.css" rel="stylesheet" media="screen" />
		<link href="css/print.css" rel="stylesheet" media="print" />
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/yLibrary.js"></script>
	</head>
	<body>
		<header class="realy-wide" id="top">
			<h1>yLibrary</h1>
		</header>
		<section id="search" class="realy-wide">
			<div class="container">
				<h2 class="text-center">Search</h2>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
						<input type="text" class="form-control" id="searchInput"
                   placeholder="start search!"
                   ng-model="searchQuery">
					</div>
				</div>
			</div>
		</section>
		<section id="browse" ng-controller="books">
			<div class="container">
				<h2 class="text-center"><a ng-click="queue();">or browse library</a></h2>
				<div class="row">
					<div ng-repeat="bq in booksQueue | filter:searchQuery" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<div class="thumbnail">
							<img src="{{bq.book.image_url}}" alt="Book thumbnail" class="img-responsive">
							<div class="caption">
								<h4>{{bq.book.title}}</h4>
								<p class="text-center">
									<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> Zamów</a>
									<a href="#" class="btn btn-info">Czytaj więcej <i class="glyphicon glyphicon-arrow-right"></i></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>